* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
}

a:link, a:visited, a:hover, a:active, a:focus {
  color: blue;
}

a:hover, a:focus {
  color: red;
}

p {
  margin-bottom: 1em;
}

code, pre {
  background: #eee; font-family: monospace;
}

pre {
  margin-bottom: 1em; padding: 1em;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 100%;
}

header {
  padding: 5vmin 1em;
  background: black; color: white; text-align: center;
}

main, header, footer div {
  max-width: 900px; margin: 0 auto;
}

main {
  position: relative;
  padding: 1em;
}

section {
  margin-bottom: 1em;
}

aside {
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid #000;
  background: #eee;
}

aside.is-fixed {
  position: fixed;
  top: 0; left: 50%;
  transform: translateX(-450px);
}

aside ul {
  list-style: none;
  columns: 2;
}

aside .active a {
  color: red;
}

footer {
  padding: 1em;
  border-top: 1px solid #ccc;
}

@media (min-width:600px) {
  aside {
    position: absolute;
    top: -1px; left: 0;
    width: 215px;
  }

  aside ul {
    columns: 1;
  }

  section {
    margin-left: calc(215px + 1em);
  }

  footer p {
    columns: 3;
  }

}

